<?xml version="1.0" encoding="UTF-8"?>

<mule
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<configuration-properties
		doc:name="Configuration properties"
		doc:id="515c134f-865e-49c4-b4c3-b754aeaf56ea" file="test" />
	<http:listener-config
		name="cache-api-httpListenerConfig">
		<http:listener-connection host="0.0.0.0"
			port="8081" />
	</http:listener-config>
	<apikit:config name="cache-api-config"
		api="cache-api.raml" outboundHeadersMapName="outboundHeaders"
		httpStatusVarName="httpStatus" />
	<os:object-store name="Object_store"
		doc:name="Object store" doc:id="0120dd6d-edaf-4e2c-90d0-e3ecf2646413"
		expirationInterval="2" expirationIntervalUnit="HOURS" />
	<http:request-config
		name="HTTP_Request_configuration"
		doc:name="HTTP Request configuration"
		doc:id="8c111919-256e-4133-8287-fbcb71aebb6b">
		<http:request-connection
			host="api.datadoghq.com" protocol="HTTPS" />
	</http:request-config>
</mule>
